---
title: Leigh Henderson's Laboratory
description: Welcome to academic biomedical research. Here's your introduction to the protocols used in university laboratories, with emphasis on basic concepts.

layout: default
category: navigation
stylesheets: 
  - flexbox-gallery
  - home-page
---

<div style="height:160px;">
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="two-thirds column">
        <img src="{{ site.url }}{{ site.logo}}" alt="LCL pipettor logo" width="100%">
      </div>
      <div class="one-third column" style="background: black">
        <h3 style="color: white">{{ site.title }}</h3>
      </div>
    </div>
  </div>
</header>

<!-- playing with grid
<div style="text-align:center" class="row">
  <div class="one-third column">
    <p style="background:gray"> Welcome </p>
    </div>
    <div class="two-thirds column">
    <p style="background:black; color:white"> To the laboratory </p>
  </div>
</div>
-->

<div class="container">
  <ul class="flex-container">
    {% for page in site.pages %} 
      {% if page.title and page.category != 'navigation' %}
        <li class ="flex-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %} 
    {% endfor %}
  </ul>
</div>
