---
layout: default
---
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ site.url }}/assets/sass/base.css">
</head>

<header>
  <h1><p>{{ site.title }}</p></h1>
</header>

<img src="{{ site.url }}{{ site.logo}}" alt="LCL pipettor logo" width="100%">

<div class="row">
  <div class="col-3">
  <p> Welcome </p>
  </div>
  <div class="col-9">
  <p> To the laboratory </p>
  </div>
</div>


  <h1>Pages</h1>

  <ul>
    {% for page in site.pages %} {% if page.title %}
        <h2>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
    {% endif %} {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
