<aside>
   <div class="container">
      <nav>
         <a href={{ site.url }}><img src="{{ site.url }}{{ site.logo}}" alt="LCL pipettor logo" width=100%>
         </a>
         <a href={{ site.url }}>CRISPR
         </a>
         <a href={{ site.url }}>Imaging
         </a>
         <a href={{ site.url }}/cell-culture-protocols/>Cell Culture
         </a>
         <a href={{ site.url }}>Protocols
         </a>
         <a href={{ site.url }}>Bioinformatics
         </a>
         <a href={{ site.url }}/about/>About
         </a>
      </nav>
    </div>
</aside>


