/* Colors 
Thanks to Tropical theme at https://designschool.canva.com*/
/* Apply box-sizing to all elements so that width and height include padding and border */
*,
*::after,
*::before {
  box-sizing: border-box; }

/* Grid view setup */
.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both; }

.column {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0; }

/* Grid view for larger displays */
@media only screen and (min-width: 600px) {
  .whole {
    width: 100%; }
  .half {
    width: 50%; }
  .one-third {
    width: 33.33%; }
  .two-thirds {
    width: 66.66%; }
  .one-fourth {
    width: 25%; }
  .three-fourths {
    width: 75%; }
  .one-fifth {
    width: 20%; }
  .two-fifths {
    width: 40%; }
  .three-fifths {
    width: 60%; }
  .one-sixth {
    width: 16.66%; }
  .five-sixths {
    width: 83.33%; }
  .one-seventh {
    width: 14.28%; } }

/* Body, headers, paragraphs, etc. */
body {
  margin: 0;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #c0a286;
  background-image: url("/assets/background-texture.gif"), url("/assets/background-texture.gif");
  background-size: 64px, 64px;
  background-repeat: repeat, repeat;
  background-position: top left -3, top left;
  background-attachment: fixed, scroll;
  padding: 0; }
  @media only screen and (min-width: 800px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 20px; } }

h1,
h2,
h3 {
  font-weight: 600;
  font-family: "Muli", sans-serif;
  line-height: 1.5;
  margin: 0; }

h1 {
  font-size: 3.129em;
  line-height: 1.2;
  color: #1B7B34; }

h2 {
  font-size: 2.3353em; }

h3 {
  font-size: 1.769em; }

a,
a:visited {
  color: #202020;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  color: #FFFFFF;
  text-decoration: none; }

main {
  margin: 15px 15px;
  padding: 15px 15px;
  max-width: 1200px;
  background-color: white; }

@media only screen and (min-width: 600px) {
  main {
    margin: 15px auto; } }

img {
  max-width: 100%; }

/* Felxbox navigation bar */
/* mobile-first reworking of nav bar from css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.navigation {
  /* flex-container */
  background: #F24C4E;
  width: 100%;
  list-style: none;
  margin: 0;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex; }

.navigation a {
  /* flex-item */
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-decoration: none;
  display: block;
  color: #000000;
  height: 30px;
  text-align: center;
  padding: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.navigation a.logo {
  padding: 2px; }

.navigation a:hover {
  background: #f57c7d; }

.navigation li:last-of-type a {
  border-bottom: none; }

.navigation img {
  height: 100%; }

@media only screen and (min-width: 600px) {
  .navigation {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .navigation a {
    height: 50px;
    padding: 12px; }
  .navigation img {
    -ms-flex-positive: 2;
    flex-grow: 2; } }

@media only screen and (min-width: 800px) {
  .navigation {
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; } }

.footer {
  -ms-flex-pack: center;
  justify-content: center; }

@media only screen and (min-width: 600px) {
  .footer li {
    width: 200px; } }
