/* Flexbox set-up 
mobile-first */
/* light blue-gray */
/* blue-gray */
/* heather */
/* light mauve */
/* light purple */
/* chocolate */
/* dark gray */
/* darker gray */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.flex-item {
  background: rgba(254, 254, 254, 0.4);
  border: 1px solid #dae1e5;
  border-radius: 3%;
  box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
  color: #dae1e5;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 5px 0 5px 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  .flex-item a {
    display: block;
    color: black;
    padding: 30px 15px 30px 15px; }

.flex-item:nth-child(1) {
  background-color: transparent;
  color: black;
  border-bottom: 10px solid #c6b1ad;
  border-top: 10px solid #c6b1ad;
  border-image: url("/assets/border_dots-heather-sm.svg") 33.33% round;
  box-shadow: none;
  padding: 30px 15px 30px 15px;
  margin: 0 0 5px 0; }

@media only screen and (min-width: 600px) {
  .flex-container {
    padding-left: 5px;
    padding-right: 5px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .flex-item {
    height: 150px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0; }
  .flex-item:nth-child(1) {
    border: none;
    border-bottom: 10px solid #dae1e5;
    border-image: url("/assets/border_dots-heather-sm.svg") 33.33% round;
    /* Dotted borders render as squares in chrome
        border-bottom: 6px dotted $color4;
        */
    padding: 15px; } }

@media only screen and (min-width: 1000px) {
  .flex-container {
    padding-left: 30px;
    padding-right: 30px; } }

.flex-item:nth-child(n+2):hover a {
  color: black; }

.flex-item:nth-child(4n+1):hover {
  background: #daeaf3; }

.flex-item:nth-child(4n+2):hover {
  background: #dae1e5; }

.flex-item:nth-child(4n+3):hover {
  background: #c6b1ad; }

.flex-item:nth-child(4n+4):hover {
  background: #a2a0aa; }
