/* Flexbox set-up 
mobile-first */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.flex-item {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 15px 30px 15px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }

@media only screen and (min-width: 600px) {
  .flex-container {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .flex-item {
    height: 150px;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    min-width: 0; } }

@media only screen and (min-width: 800px) {
  .flex-item {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; } }

.flex-item:nth-child(5n+1) {
  background: #F24C4E; }

.flex-item:nth-child(5n+2) {
  background: #1FB58F;
  color: white; }

.flex-item:nth-child(5n+3) {
  background: #67CCFF; }

.flex-item:nth-child(5n+4) {
  background: #1B7834; }

.flex-item:nth-child(5n+5) {
  background: #EAB126; }
