/* Flexbox set-up 
mobile-first */
/* turkey feathers color scheme */
/* light blue-gray */
/* blue-gray */
/* heather */
/* light mauve */
/* light purple */
/* chocolate */
/* dark gray */
/* darker gray */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.column {
  -ms-flex-flow: column wrap;
  flex-flow: column wrap; }

.flex-item {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }
  .flex-item a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 30px 15px 30px 15px; }
  .flex-item a:hover {
    color: black; }

@media only screen and (min-width: 600px) {
  .flex-container {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .flex-item {
    height: 150px;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    min-width: 0; } }

@media only screen and (min-width: 800px) {
  .flex-item {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; } }

.flex-item:nth-child(5n+1) {
  background: #f4fbfd; }

.flex-item:nth-child(5n+1):hover {
  background: #c9ebf5; }

.flex-item:nth-child(5n+2) {
  background: #daeaf3;
  color: white; }

.flex-item:nth-child(5n+2):hover {
  background: #b3d4e7; }

.flex-item:nth-child(5n+3) {
  background: #dae1e5; }

.flex-item:nth-child(5n+3):hover {
  background: #bcc9d0; }

.flex-item:nth-child(5n+4) {
  background: #c6b1ad; }

.flex-item:nth-child(5n+4):hover {
  background: #b1948f; }

.flex-item:nth-child(5n+5) {
  background: #a2a0aa; }

.flex-item:nth-child(5n+5):hover {
  background: #888592; }

main {
  background-color: transparent; }
