body {
  background-color: #c0a286;
  background-image: url("/assets/background-texture.gif");
  background-size: 64px;
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  padding: 0; }

main {
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
  max-width: 1600px; }

.crop-height {
  background-image: url("/assets/background-texture.gif"), url("/assets/lorikeet-background.jpg");
  background-size: 64px, 1000px;
  background-repeat: repeat, no-repeat;
  background-position: top left, 48% -120px;
  background-attachment: fixed, scroll;
  padding: 0;
  height: 400px; }

@media only screen and (min-width: 600px) {
  .crop-height {
    background-position: top left, 48% -100px;
    background-size: 64px, 800px; } }

@media only screen and (min-width: 800px) {
  .crop-height {
    background-position: top left, center -230px;
    background-size: 64px, 1600px; } }
