body {
  background-color: #c0a286;
  background-image: url("/assets/background-texture.gif"), url("/assets/lorikeet-background.jpg");
  background-size: 64px, 1600px;
  background-repeat: repeat, no-repeat;
  background-position: top left, center -70px;
  background-attachment: fixed, scroll;
  padding: 0; }

@media only screen and (min-width: 600px) {
  body {
    background-position: top left, center -170px; } }
