/* boxes
body {
    background-color: white;
    background-image: url('/assets/bw-grid.gif'),
                      url('/assets/greenblue-gridfill.gif' );
    background-size: 1000px, 1000px;
    background-repeat: repeat, repeat;
    background-position: top left, top left;
    background-attachment: fixed, scroll;
    padding: 0;
}
*/

/* bubbles
body {
    background-color: white;
    background-image: url('/assets/background-grid-WhiteRoundedSquares.gif'),
                      url('/assets/background-grid-WhiteRoundedSquares-bubbles.gif' );
    background-size: 200px, 200px;
    background-repeat: repeat-y, repeat-y;
    background-position: top left, top left;
    background-attachment: fixed, scroll;
    padding: 0;
} */

/* DNA cutout
body {
    background-color: blue;
    background-image: url('/assets/background-cutout-DNA.gif'),
                      linear-gradient(white, blue);
    background-size: 200px, 200px;
    background-repeat: repeat-y, no-repeat;
    background-position: top left, top left;
    background-attachment: scroll, fixed;
    padding: 0;
} 
*/

/* turkey feathers
body {
    background-color: #000000;
    background-image: url('/assets/background-texture.gif'),
                      url('/assets/background_turkeyFeathers.gif' );
    background-size: 64px, 1000px;
    background-repeat: repeat, no-repeat;
    background-position: top left, 50% 120px;
    background-attachment: fixed, scroll;
    padding: 0;
}
*/

body {
    background-color: #000000;
    background-image: none;
}

main {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
}

/* This divider element crops the background, idea from css-tricks.com/crop-top/ */
.crop-height {
    background-color: white;
    background-image: url('/assets/background-texture.gif'),
                      url('/assets/background_turkeyFeathers.gif' );
    background-size: 64px, 800px;
    background-repeat: repeat, no-repeat;
    background-position: top left, 48% -120px;
    background-attachment: fixed, scroll;
    padding: 0;

    height: 150px;
}
@media only screen and (min-width: 600px) {
    .crop-height {
        background-position: top left, 48% -100px;
        background-size: 64px, 1200px;
        
        height: 200px;
    }
    
}
@media only screen and (min-width: 1200px) {
    .crop-height {
        background-position: top left, center -230px;
        background-size: 64px, 1600px;
        background-repeat: repeat, repeat;
    }
    
}

.title {
    background-color: white;
    opacity: 0.9;
    margin: auto;
    height: 100%;
    width: 400px;
}