$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;

/* Colors 
Thanks to Tropical theme at https://designschool.canva.com*/
$blue: #67CCFF;
$teal: #1FB58F;
$yellow: #EAB126;
$salmon: #F24C4E;
$green: #1B7B34;

$color1: rgb(244, 251, 253); /* light blue-gray */
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */

$nav-background: #444444;
$nav-color: white;

$font-color: #000000;
$h1-font-color: $green;

$link-color: #202020;
$link-hover-color: #606060;


/* Apply box-sizing to all elements so that width and height include padding and border */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Grid view setup */

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.column {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

/* Grid view for larger displays */

@media only screen and (min-width: 600px) {
    .whole {width: 100%;}
    .half {width: 50%;}
    .one-third {width: 33.33%;}
    .two-thirds {width: 66.66%;}
    .one-fourth {width: 25%;}
    .three-fourths {width: 75%;}
    .one-fifth {width: 20%}
    .two-fifths {width: 40%}
    .three-fifths {width: 60%}
    .one-sixth {width: 16.66%}
    .five-sixths {width: 83.33%}
    .one-seventh {width: 14.28%}
}

/* Body, headers, paragraphs, etc. */

body {
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 16px; 

    background-color: white;
    background-image: url('/assets/background-cutout-DNA.gif'),
                      linear-gradient(white, $green);
    background-size: 200px, 200px;
    background-repeat: repeat-y, no-repeat;
    background-position: top left, top left;
    background-attachment: scroll, fixed;
    padding: 0;
} 
    
@media only screen and (min-width: 800px) {
    font-size: 18px;
}
@media only screen and (min-width: 1200px) {
    font-size: 20px; 
}

h1, 
h2, 
h3 {
    font-weight: 600;
    font-family: $heading-font;
    line-height: 1.5;
    margin: 0;
}
h1 {
    font-size:3.129em;
    line-height:1.2;
    color: $h1-font-color;
}
h2 {
    font-size: 2.3353em;
}
h3 {
    font-size:1.769em;
}

a,
a:visited {
    color: $link-color;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
    text-decoration: none;
}
main {
    margin: 15px 15px;
    padding: 15px 15px;
    max-width: 1200px;

    background-color: white;
}
@media only screen and (min-width: 600px) {
    main {
        margin: 15px auto 15px 200px;
    }
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
code {
    max-width: 100%;
}

/* Flexbox navigation bar */
/* mobile-first reworking of nav bar from css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.header {   /* flex-container */
    height: 190px;
    padding: 15px 5px 5px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);

    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    display: flex;
}
.footer {   /* flex-container */
    height: 85px;
    padding: 30px 5px 30px 5px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);

    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    display: flex;
}
.navigation {
    background: $nav-background;
    width: 100%;
    margin: 0; 
    list-style: none;
}
.navigation li {   /* flex-item */
    display: block;
    height: 25px;
    text-align: center;
    margin: 0;
}
.footer li {
    padding: 0 35px 0 35px;
}
.header li {
    width: 35%;
    padding: 0 25px 0 25px;
}
li.logo {
    width: 100%;
    height: 70px;
    padding: 0;
}
.navigation a {
    color: $nav-color;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: normal;
}
.navigation a.visited {
    color: lighten($nav-color, 10%);
}
.navigation a:hover {
    color: $color4;
}
.navigation img {
    height: 100%;
    margin: auto;
    line-height: 0;
}

@media only screen and (min-width: 600px) {
    .header {
        flex-flow: row nowrap;
        padding: 0;
        height: 85px;
    }
    .header li {
        width: auto;
        padding: 30px 19px 30px 19px;
    }
    li.logo {
        width: 250px;
        height: 100%;
        padding: 25px 0 25px 0;
        margin-right: auto; /* pushes logo to the left side of the screen */
    }
    .footer li {
        padding: 0px 60px 0px 60px;
    }
}
@media only screen and (min-width: 800px) {
    .header li {
        padding: 30px 35px 30px 35px;
    }
    li.logo {
        width: 250px;
        padding: 18px 0 18px 0;
    }
}

