$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;

/* Colors 
Thanks to Tropical theme at https://designschool.canva.com*/
$blue: #67CCFF;
$teal: #1FB58F;
$yellow: #EAB126;
$salmon: #F24C4E;
$green: #1B7B34;

$nav-color: $salmon;

$font-color: #000000;
$h1-font-color: $green;

$link-color: #202020;
$link-hover-color: #FFFFFF;


/* Apply box-sizing to all elements so that width and height include padding and border */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Grid view setup */

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.column {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

/* Grid view for larger displays */

@media only screen and (min-width: 600px) {
    .whole {width: 100%;}
    .half {width: 50%;}
    .one-third {width: 33.33%;}
    .two-thirds {width: 66.66%;}
    .one-fourth {width: 25%;}
    .three-fourths {width: 75%;}
    .one-fifth {width: 20%}
    .two-fifths {width: 40%}
    .three-fifths {width: 60%}
    .one-sixth {width: 16.66%}
    .five-sixths {width: 83.33%}
    .one-seventh {width: 14.28%}
}

/* Body, headers, paragraphs, etc. */

body {
    margin: 0;
    color: $font-color;
    font-family: $font-style;

    font-size: 16px;
    @media only screen and (min-width: 800px) {
        font-size: 18px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 20px; 
    }
}
h1, 
h2, 
h3 {
    font-weight: 600;
    font-family: $heading-font;
    line-height: 1.5;
    margin: 0;
}
h1 {
    font-size:3.129em;
    line-height:1.2;
    color: $h1-font-color;
}
h2 {
    font-size: 2.3353em;
}
h3 {
    font-size:1.769em;
}

a,
a:visited {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: $link-hover-color;
    text-decoration: none;
}
main {
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1100px;
}
@media only screen and (min-width: 600px) {
    .container {
        padding: 15px 15px;
    }
}

/* Felxbox navigation bar */
/* mobile-first reworking of nav bar from css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.navigation {   /* flex-container */
    background: $nav-color;
    width: 100%;

    list-style: none;
    margin:0;
    flex-flow: column wrap;
    padding: 0;
    align-items: stretch;

    display: flex;
}
.navigation a {   /* flex-item */
    flex-grow: 1;
    text-decoration: none;
    display: block;
    color: $font-color;
    height: 30px;
    text-align: center;
    padding: 3px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navigation a.logo {
    padding: 2px;
}
.navigation a:hover {
    background: lighten($nav-color, 10%);
}
.navigation li:last-of-type a {
    border-bottom: none;
}
.navigation img {
    height: 100%;
}

@media only screen and (min-width: 600px) {
    .navigation {
        justify-content: space-around;
        flex-flow: row nowrap;
    }
    .navigation a {
        height: 50px;
        padding: 12px;
    }
    .navigation img {
        flex-grow: 2;
    }
}

@media only screen and (min-width: 800px) {
    .navigation {
        justify-content: flex-end;
        flex-flow: row nowrap;

    }
}

.footer {
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .footer li {
        width: 200px;
    }
}

