/* Flexbox set-up 
mobile-first */

$color1: rgb(244, 251, 253); /* light blue-gray */
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */

.flex-container {
    padding: 0;
    margin: 0;
    
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
}

.flex-item {
    background: #FFFFFF;
    padding: 0;
    margin: 0;

    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    padding: 30px 15px 30px 15px;

    flex-grow: 1;
    width: 100%;

    a:hover {
        color: black;
    }
}

@media only screen and (min-width: 600px) {
    .flex-container {
        align-items: center ;
        justify-content: space-around;
    }
    .flex-item {
        height: 150px;

        flex-basis: 33.33%;
        min-width: 0;
    }
}

@media only screen and (min-width: 800px) {
    .flex-item {
        flex-basis: 25%;
    }
}

.flex-item:nth-child(1) {
    background: none;
}

.flex-item:nth-child(5n+2) {
    background: $color1;
    color: white;
}
.flex-item:nth-child(5n+2):hover {
        background: darken($color1, 10%);
}

.flex-item:nth-child(5n+3) {
    background: $color2;
    color: white;
}
.flex-item:nth-child(5n+3):hover {
        background: darken($color2, 10%);
}

.flex-item:nth-child(5n+4) {
    background: $color3;
    color: white;
}
.flex-item:nth-child(5n+4):hover {
        background: darken($color3, 10%);
}

.flex-item:nth-child(5n+5) {
    background: $color4;
    color: white;
}
.flex-item:nth-child(5n+5):hover {
        background: darken($color4, 10%);
}

.flex-item:nth-child(5n+6) {
    background: $color5;
    color: white;
}
.flex-item:nth-child(5n+6):hover {
        background: darken($color5, 10%);
}

main {
    background-color: transparent;
}

.clearfix {
    overflow: auto;
}