/* Flexbox set-up 
mobile-first */

$color1: #F24C4E; /* salmon */
$color2: #1FB58F; /* teal */
$color3: #67CCFF; /* blue */
$color4: #1B7B34;  /* green */
$color5: #EAB126; /* yellow */

.flex-container {
    padding: 0;
    margin: 0;
    
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
}
.flex-item {
    background: #FFFFFF;
    padding: 0;
    margin: 0;

    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    padding: 30px 15px 30px 15px;

    flex-grow: 1;
    width: 100%;

    a:hover {
        color: black;
    }
}

@media only screen and (min-width: 600px) {
    .flex-container {
        align-items: center ;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    .flex-item {
        height: 150px;

        flex-basis: 33.33%;
        min-width: 0;
    }
}

@media only screen and (min-width: 800px) {
    .flex-item {
        flex-basis: 25%;
    }
}

.flex-item:nth-child(5n+1) {
    background: $color1;
}
.flex-item:nth-child(5n+1):hover {
        background: lighten($color1, 10%);
}

.flex-item:nth-child(5n+2) {
    background: $color2;
    color: white;
}
.flex-item:nth-child(5n+2):hover {
        background: lighten($color2, 10%);
}

.flex-item:nth-child(5n+3) {
    background: $color3;
}
.flex-item:nth-child(5n+3):hover {
        background: lighten($color3, 10%);
}

.flex-item:nth-child(5n+4) {
    background: $color4;
}
.flex-item:nth-child(5n+4):hover {
        background: lighten($color4, 10%);
}

.flex-item:nth-child(5n+5) {
    background: $color5;
}
.flex-item:nth-child(5n+5):hover {
        background: lighten($color5, 10%);
}

main {
    background-color: transparent;
}