/* Flexbox set-up 
mobile-first */

$color1: rgb(244, 251, 253); /* light blue-gray */
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */

.flex-container {
    padding: 0;
    margin: 0;
    
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
}

.flex-item {
    background: none;
    padding: 0;
    margin: 0;

    color: $color3;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
    padding: 30px 15px 30px 15px;

    flex-grow: 1;
    width: 100%;

    a {
        color: $color3;
    }
}

.flex-item:nth-child(1) {
    background-color: $color4;
    color: black;
}

@media only screen and (min-width: 600px) {
    .flex-container {
        padding-left:5px;
        padding-right: 5px;        


        align-items: center ;
        justify-content: space-around;
    }
    .flex-item {
        height: 150px;
        flex-basis: 0;
    }
    .flex-item:nth-child(1) {
        border-bottom: 6px dotted $color4;
        background: none;
        color: $color3;
    }
}
@media only screen and (min-width: 1000px) {
    .flex-container {
        padding-left:30px;
        padding-right: 30px;        
    }
}

.flex-item:nth-child(n+2):hover {
    a {
        color: black;
    }
}
.flex-item:nth-child(4n+2):hover {
        background: $color1;
}
.flex-item:nth-child(4n+3):hover {
        background: $color2;
}
.flex-item:nth-child(4n+4):hover {
        background: $color3;
}
.flex-item:nth-child(4n+5):hover {
        background: $color5;
}