/* Flexbox set-up 
mobile-first */

/* turkey feathers color scheme */
$color1: rgb(244, 251, 253); /* light blue-gray SHOWS UP AS WHITE ON CHROME BROWSER*/
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */
$color6: rgb(55, 49, 45); /* chocolate */
$color7: rgb(56, 56, 56); /* dark gray */
$color8: rgb(34, 35, 39); /* darker gray */

$icon-small: 3em;
$icon-medium: 3.5em;
$icon-large: 4em;


.flex-container {
    padding: 0;
    margin: auto;
    
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
}
.column {
    flex-flow: column wrap;
}
.flex-item {
    background: #FFFFFF;
    padding: 0;
    margin: 0;

    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;

    flex-grow: 0;
    width: 100%;

    a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 30px 15px 30px 15px;
    }

    a:hover {
        color: black;
    }

    i {
        font-size: $icon-small;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
@media only screen and (min-width: 300px) {
    .icon-item {
        min-width: 150px;
        flex-basis: 50%;
    }
}
@media only screen and (min-width: 600px) {
    .flex-container {
        align-items: center ;
    }
    .flex-item {
        height: 150px;

        flex-basis: 33.33%;
        min-width: 0;
    }
    .flex-item i {
        font-size: $icon-medium;
    }
    .icon-item {
        flex-basis: 25%;
        min-width: 150px;

    }
}

@media only screen and (min-width: 800px) {
    .flex-item {
        flex-basis: 25%;
    }
    .felx-item i {
        font-size: $icon-large;
    }
    .icon-item {
        flex-basis: 16.66%;
    }
}

.flex-item:nth-child(4n+1) {
    background: $color2;
}
.flex-item:nth-child(4n+1):hover {
        background: darken($color2, 10%);
}

.flex-item:nth-child(4n+2) {
    background: $color3;
    color: white;
}
.flex-item:nth-child(4n+2):hover {
        background: darken($color3, 10%);
}

.flex-item:nth-child(4n+3) {
    background: $color4;
}
.flex-item:nth-child(4n+3):hover {
        background: darken($color4, 10%);
}

.flex-item:nth-child(4n+4) {
    background: $color5;
}
.flex-item:nth-child(4n+4):hover {
        background: darken($color5, 10%);
}

main {
    background-color: transparent;
}