$color1: rgb(244, 251, 253); /* light blue-gray */
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */

body {
    background: none;
    background-color: #000000;
}

main {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    max-width: 3000px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* This divider element crops the background, idea from css-tricks.com/crop-top/ */
.crop-height {
    background-color: $color1;
    background-image: url('/assets/background-texture.gif'),
                      url('/assets/background_turkeyFeathers.gif' );
    background-size: 64px, 800px;
    background-repeat: repeat, no-repeat;
    background-position: top left, 48% -120px;
    background-attachment: fixed, scroll;
    padding: 0;

    height: 150px;
}
@media only screen and (min-width: 600px) {
    .crop-height {
        background-position: top left, 48% -100px;
        background-size: 64px, 1200px;
        
        height: 200px;
    }
    
}
@media only screen and (min-width: 1200px) {
    .crop-height {
        background-position: top left, center -230px;
        background-size: 64px, 1600px;
        background-repeat: repeat, repeat;
    }
    
}

.title {
    background-color: $color3;
    opacity: 0.8;
    margin: auto;
    height: 100%;
    width: 400px;
}

div.slideshow{
    text-align: center;
    position: relative;
    max-width: 1200px;
    min-height: 230px;
    margin: auto;
}
img.slideshow{
    margin: auto;
    max-height: 200px;
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
    div.slideshow{
        min-height: 330px;
    }
    img.slideshow{
        max-height: 300px;
    }
    
}
@media only screen and (min-width: 1200px) {
    div.slideshow{
        min-height: 430px;
    }
    img.slideshow{
        max-height: 400px;
    }
    
}

button.slideshow {
    color: $color3;
    font-size: 16px;
    text-align: center;
    line-height:20px;

    border-radius: 50%;

    background: none;
    padding: none;
    border: none;
    margin: 5px;
    width: 20px;
    height: 20px;

    position: relative;
}
a.slideshow {
    color: $color3;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}

button.slideshow:nth-child(1),
button.slideshow:nth-last-child(1) {
    
}
button.slideshow:nth-child(4n+2) {
    background: $color1;
}
button.slideshow:nth-child(4n+3) {
    background: $color2;
}
button.slideshow:nth-child(4n+4) {
    background: $color3;
}
button.slideshow:nth-child(4n+4) {
    background: $color5;
}
button.slideshow:hover {
    background: pink;
}
