/* turkey feathers colors */
$color1: rgb(244, 251, 253); /* light blue-gray */
$color2: rgb(218, 234, 243); /* blue-gray */
$color3: rgb(218, 225, 229); /* heather */
$color4: rgb(198, 177, 173);  /* light mauve */
$color5: rgb(162, 160, 170); /* light purple */

body {
    background: none;
    background-color: #000000;
}

main {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    max-width: 3000px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* This divider element crops the background, idea from css-tricks.com/crop-top/ */
.crop-height {
    background-color: $color1;
    background-image: url('/assets/background-texture.gif'),
                      url('/assets/background_turkeyFeathers.gif' );
    background-size: 64px, 800px;
    background-repeat: repeat, no-repeat;
    background-position: top left, 48% -120px;
    background-attachment: fixed, scroll;
    padding: 0;

    height: 150px;
}
@media only screen and (min-width: 600px) {
    .crop-height {
        background-position: top left, 48% -100px;
        background-size: 64px, 1200px;
        
        height: 200px;
    }
    
}
@media only screen and (min-width: 1200px) {
    .crop-height {
        background-position: top left, center -230px;
        background-size: 64px, 1600px;
        background-repeat: repeat, repeat;
    }
    
}

.title {
    background-color: $color3;
    opacity: 0.8;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.slideshow div{
    text-align: center;
    position: relative;
    max-width: 1200px;
    min-height: 230px;
    margin: auto;
}
.slideshow img{
    margin: auto;
    max-height: 200px;
    max-width: 100%;
}
@media only screen and (min-width: 600px) {
    .slideshow div{
        min-height: 330px;
    }
    .slideshow img{
        max-height: 300px;
    }
    
}
@media only screen and (min-width: 1200px) {
    .slideshow div{
        min-height: 430px;
    }
    .slideshow img{
        max-height: 400px;
    }
    
}
.slideshow a {
    color: $color3;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}

button.slideshow {
    border-radius: 100%;

    background: $color3;
    padding: 0;
    border: none;
    margin: 10px 5px 10px 5px;
    width: 20px;
    height: 20px;
}
button.slideshow:nth-child(1),
button.slideshow:nth-last-child(1) {   /* Triangle button hack from https://css-tricks.com/snippets/css/css-triangle/ */
    border-radius: 0;
    background: none;
    width: 0;
    height: 0;
    margin: 0 5px 0 5px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
button.slideshow:nth-child(1) {
    border-right: 20px solid white;
}
button.slideshow:nth-last-child(1) {
    border-left: 20px solid white;
}

button.slideshow:nth-child(1):hover {
    background: none;
    border-right: 20px solid $color4;
}
button.slideshow:nth-last-child(1):hover {
    background: none;
    border-left: 20px solid $color4;
}
button.slideshow:not(:nth-child(1)):not(:nth-last-child(1)):hover {
    background: $color4 !important;
}


