<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <title>Leigh Henderson's Laboratory</title>
  <meta name="description" content="Welcome to academic biomedical research. Here's your introduction to the protocols used in university laboratories, with emphasis on basic concepts.">
  
  <!-- main.css contains normalize.css -->
  <link rel="stylesheet" href="http://localhost:4000/css/main.css">
  
  <!-- base.css is my own stylesheet 
  <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/base.css">
  -->

  <!-- autoprefixed stylesheet -->
  {% css base %}

  <!-- not sure what this does, look into later -->
  <link rel="canonical" href="{{ site.url }}">
  <link rel="alternate" type="application/rss+xml" title="Leigh Henderson&#39;s Laboratory" href="{{ site.url }}/feed.xml">
</head>

<body>
  
 {% include header.html %}

<main>
  <div>
    {{ content }}
  </div>
</main>

{% include footer.html %}

</body>